---

---

<style>
    /* .nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
    a {
        margin: 10px;
    } */
</style>
<div class="nav-links">
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
</div>
