---
const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`}>{platform}</a>

<style>
    a {
        padding: 0.5rem 1rem;
        color: #000;
        background-color: rgba(255, 251, 3, 0.867);
        text-decoration: none;
    }
</style>
